/* Variables
============================================================ */
/* General
============================================================ */
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Headings
============================================================ */
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Links
============================================================ */
a {
  color: #fff;
  text-decoration: none;
}

/* Header
============================================================ */
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  min-height: 5em;
  margin: 0 auto;
  padding: 1em;
  border-bottom: 1px solid #242424;
}
@media (min-width: 512px) {
  .site-header {
    flex-direction: row;
    min-height: 7em;
  }
}
.site-header .site-logo {
  text-align: center;
}
@media (min-width: 512px) {
  .site-header .site-logo {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.site-header .site-logo span {
  font-size: 2.25rem;
  font-weight: bold;
}
@media (min-width: 512px) {
  .site-header .site-nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0.2em 0;
  }
}
.site-header .site-nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 512px) {
  .site-header .site-nav ul {
    justify-content: space-between;
  }
}
@media (min-width: 512px) {
  .site-header .site-nav ul li {
    flex: 0 0 auto;
  }
  .site-header .site-nav ul li + li {
    margin-left: 1em;
  }
}
.site-header .site-nav ul li a {
  background: transparent;
  padding: 0.7em 1.25em;
  border-radius: 7px;
  text-transform: lowercase;
}
.site-header .site-nav ul li a:hover, .site-header .site-nav ul li a:focus {
  background: #242424;
  transition: all 0.25s;
}

/* Main
============================================================ */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 1em;
  font-size: 1.125rem;
}

/* Footer
============================================================ */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em 1em;
  font-size: 1.125rem;
  border-top: 1px solid #242424;
}
@media (min-width: 512px) {
  footer {
    flex-direction: row;
  }
}

.copyright {
  text-align: center;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.social li {
  display: inline-block;
}
.social li a {
  font-size: 2.25rem;
  color: #ABABAB;
}

/* Post Items
============================================================ */
.post-item {
  margin: 0 0 1em 0;
}
.post-item h3 {
  margin: 0;
}

/* Post Meta
============================================================ */
.post-meta p {
  margin: 0;
  font-size: 1rem;
  color: #ABABAB;
}

/*# sourceMappingURL=main.css.map */
