/* Variables
============================================================ */
/* Modifiers
============================================================ */
.center {
  text-align: center;
}

/* General
============================================================ */
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Headings
============================================================ */
h1,
h2,
h3 {
  margin: 0 0 1em 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Links
============================================================ */
a {
  color: #fff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2994ff;
  transition: all 0.25s;
}
a.button {
  padding: 0.7em 1.25em;
  border-radius: 7px;
  background: #242424;
}

/* Text
============================================================ */
p,
ul li {
  line-height: 1.75em;
}

time {
  color: #ABABAB;
  font-style: italic;
}

/* Header
============================================================ */
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1em;
  border-bottom: 1px solid #242424;
}
@media (min-width: 512px) {
  .site-header {
    flex-direction: row;
  }
}
.site-header .site-logo {
  margin-bottom: 1em;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}
.site-header .site-logo .logo {
  margin: 0;
}
@media (min-width: 512px) {
  .site-header .site-logo {
    margin: 0;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 512px) {
  .site-header .site-nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0.2em 0;
  }
}
.site-header .site-nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 512px) {
  .site-header .site-nav ul {
    justify-content: space-between;
  }
}
@media (min-width: 512px) {
  .site-header .site-nav ul li {
    flex: 0 0 auto;
  }
  .site-header .site-nav ul li + li {
    margin-left: 1em;
  }
}
.site-header .site-nav ul li a {
  background: transparent;
  padding: 0.7em 1.25em;
  border-radius: 7px;
  text-transform: lowercase;
}
.site-header .site-nav ul li a:hover, .site-header .site-nav ul li a:focus {
  background: #242424;
  transition: all 0.25s;
}

/* Main
============================================================ */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1em;
  font-size: 1.125rem;
}

/* Footer
============================================================ */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1em;
  font-size: 1.125rem;
  border-top: 1px solid #242424;
}
@media (min-width: 512px) {
  footer {
    flex-direction: row;
  }
}

.copyright {
  margin: 0;
  text-align: center;
  line-height: 2.25em;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.social li {
  display: inline-block;
}
.social li a {
  padding: 0 0.2em;
  font-size: 2.25rem;
  color: #ABABAB;
}
.social li a:hover, .social li a:focus {
  color: #2994ff;
}

/* Post Items
============================================================ */
.post-item {
  margin: 0 0 1em 0;
}
.post-item:last-child {
  margin: 0;
}
.post-item h3 {
  margin: 0;
}

/* Post Meta
============================================================ */
.post-meta p {
  margin: 0;
  font-size: 1rem;
  color: #ABABAB;
}

/* Posts
============================================================ */
.post p {
  margin: 0 0 1.75em 0;
  line-height: 1.75em;
}
.post *:last-child {
  margin-bottom: 0;
}

/* Wordpress Block Images
============================================================ */
.wp-block-image img {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
